{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>支出確認</h4>
    <div class="row">
        <div class="col s10 offset-s1">
            <table class="highlight bordered">
                <thead>
                <tr>
                    <th data-field="date">date</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="price">Item Price</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                {% for spend in userspend %}
                    <tr class="context" id="{{ spend.id }}">
                        <td>{{ spend.day }}</td>
                        <td>{{ spend.itemName }}</td>
                        <td>{{ spend.money }}</td>
                        <td>{{ spend.text }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Nodata</td>
                        <td>Nodata</td>
                        <td>Nodata</td>
                        <td>Nodata</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='contextMenu' id='myMenu1'>
        <ul>
            <li id='edit'><a id="editmodal" href="#modalup">Edit</a></li>
            <li id='delete'><a id="modaldelete" href="#deleteModal">delete</a></li>
            <li id="share"><a id="modalshare" href="#shareModal">share</a></li>
        </ul>
    </div>

    <div class="remodal" data-remodal-id="modalup" role="dialog" aria-labelledby="modal1Title"
         aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div>
            <h3 id="modal1Title">支出更新</h3>

            <form id="updatespend" class="col s12" action="{{ url_for('update_spend') }}" method="post">
                <div class="row">
                    <div class="input-field col s5 offset-s1">
                        <input id="textarea1" type="text" name="uitemName">
                        <label for="textarea1">品名</label>
                    </div>
                    <input type='hidden' name='itemId' class='update'>

                    <div class="input-field col s5">
                        <input id="textarea2" type="text" name="uspend">
                        <label for="textarea2">金額</label>
                    </div>
                    <div class="input-field col s10 offset-s1">
                        <input id="data" type="date" class="datepicker" name="uday">
                    </div>
                    <div class="input-field col s10 offset-s1">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix1" class="materialize-textarea" name="utext"></textarea>
                        <label for="icon_prefix1">コメント</label>
                    </div>
                    <div class="col s12">
                        <div class="right">
                            <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                            <button type="submit" name="action" class="remodal-confirm">
                                submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="remodal" data-remodal-id="deleteModal" role="dialog" aria-labelledby="modal1Title"
         aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div>
            <h3 id="modal1Title">支出削除</h3>

            <form id="deletespend" class="col s12" action="{{ url_for('delete_spend') }}" method="post">
                本当に消しますか？
                <input type='hidden' name='itemId' class='delete'>

                <div class="col s12">
                    <div class="right">
                        <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                        <button type="submit" name="action" class="remodal-confirm">
                            delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </form>
    </div>
    <div class="remodal" data-remodal-id="shareModal" role="dialog" aria-labelledby="modal1Title"
         aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div>
            <h5 id="modal1Title">共有する相手を選んでください</h5>

            <div class="shareContainer">
            </div>
            <form id="sharespend" class="col s12" action="{{ url_for('addNotification') }}" method="post">
                <input type='text' name='itemId' class='share'>
                <input type="text" name="friendName" class="friendN">
                <div class="col s12">
                    <div class="right">
                        <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                        <button type="submit" name="action" class="remodal-confirm">
                            share
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scriptarea %}
    <style>
        .hilite{
            background-color: #ffd740;
        }
    </style>
    <script src="{{ url_for('static',filename ='js/jquery.leanModal.min.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/jquery.contextmenu.r2.js') }}"></script>
    <script src="{{ url_for('static',filename='js/remodal.js') }}"></script>
    <script src="{{ url_for('static',filename='js/check_outlayS.js') }}"></script>
{% endblock %}