{% extends "gBase.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>支出入力</h4>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s5 offset-s1">
                    <input id="textarea1" type="text" class="validate">
                    <label for="textarea1">品名</label>
                </div>
                <div class="input-field col s5">
                    <input id="textarea2" type="text" class="validate">
                    <label for="textarea2">金額</label>
                </div>
                <div class="input-field col s10 offset-s1">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix1" class="materialize-textarea"></textarea>
                    <label for="icon_prefix1">コメント</label>
                </div>
            </div>
        </form>
    </div>
{% endblock %}