{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>ログイン</h4>
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="password" class="validate">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                    <div class="col s12">
                        <a href="{{ url_for('regi') }}">登録していない方はこちら</a>

                        <div class="right">
                            <a class="waves-effect waves-light btn">ログイン</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}