{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>フレンド</h4>
    <div class="row">
        <div class="col s10 offset-s1 friendContainer">
            <ul>
                {%- for check in friend %}
                    <li>{{ check }}</li>
                {%- endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block scriptarea %}
    <script src="{{ url_for('static',filename ='js/jquery.contextmenu.r2.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/jquery.leanModal.min.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/check_outlayS.js') }}"></script>
{% endblock %}