{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>友達</h4>
    <form action="{{ url_for('friend') }}">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card-panel">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="friend_name" type="text" class="validate">
                            <label for="friend_name">Friend Name</label>
                            <i class="material-icons prefix">account_circle</i>
                            <input id="user_name" type="text" class="validate" value="{{ user }}">
                            <label> for="user_name">User Name</label>
                        </div>
                        <div class="col s12">
                            <div class="right">
                                <button class="btn waves-effect waves-left" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}