{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>友達申請</h4>
    <form action="{{ url_for('fri') }}" method="post">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card-panel">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="friend_name" type="text" class="validate">
                            <label for="friend_name">Friend Name</label>
                        </div>
                        <div class="col s12">
                            <div class="right">
                                <button class="btn waves-effect waves-left" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scriptarea %}
    <script src="{{ url_for('static',filename ='js/jquery.contextmenu.r2.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/jquery.leanModal.min.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/check_outlayS.js') }}"></script>
{% endblock %}