{% extends "gBase.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>支出確認</h4>
    <div class="row">
        <div class="col s10 offset-s1">
            <table class="highlight bordered">
                <thead>
                <tr>
                    <th data-field="date">date</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="price">Item Price</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>4/14</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                    <td class="btn">詳細</td>
                </tr>
                <tr>
                    <td>4/25</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                    <td class="btn">詳細</td>
                </tr>
                <tr>
                    <td>5/2</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                    <td class="btn">詳細</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}