{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    <h4>共有設定</h4>
    <div class="row">
        <div class="col s12 m3">
            <div class="card blue-grey darken-1" style="height:250px;">
                <div class="card-content white-text">
                    <span class="card-title">Username</span>

                    <p class="center">共有総額<br>3000en</p>
                </div>
                <div class="col s6">
                    <div class="card-panel teal">
          <span class="white-text">
          </span>相手<br>1500en
                    </div>
                </div>
                <div class="col s6">
                    <div class="card-panel teal">
          <span class="white-text">自分<br>1500en
          </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card blue-grey darken-1" style="height: 250px;">
                <div class="card-content white-text">
                        <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('asm') }}"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}